/* Styling for the body */
body {
  background-color: lightgray;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* For the sticky footer */
main {
  flex: 1 0 auto;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


/* Creates a hover effect on the navbar menu options */
.hover:hover {
  color: whitesmoke;
}

/* Situating the navbar */
.navbar-toggle.navbar-left {
  float: left;
  margin-left: 10px;
}
.navbar-toggle.navbar-right {
  float: right;
  margin-left: 10px;
}

/* Styling for the navbar container */
#nav-container {
  background-color: lightblue;
  min-height: 80px;
  color: black
}

#nav-menu-buttton{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
}


/* For spacing around the header title text */
.header-text-title {
  margin: 10px 1px;
  font-family: 'Dancing Script', cursive;
}

/* For spacing around the header sub-title text */
.header-text {
  margin: 10px 1px;
  font-family: 'Dancing Script', cursive;
}


/* Styling for the header container */
#header {
  background-color: lightblue;
  text-align: center;
  border-radius: 50px;
  padding: 10px;
  box-shadow: 0 0 10px 4px;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* Styling for the cards */
.card {
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 0 10px 4px;
  text-align: center;
  float:none;
  font-family: 'Dancing Script', cursive;
  font-size: large;
}

.card-title{
  width: 100%;
  background-color: gray;
  color: white;
  border-radius: 10px;
  color: black;
  
}

.card-action {
  text-align: center;
}

/* Creates a sticky footer */
.footer {
  width: 100%;
  background-color: lightblue;
  color: white;
  text-align: center;
  font-family: "Dancing Script", cursive;
  padding: 1.5rem 0rem;
}

.brand-logo  {
  width: 130px;
}

.btn {
  color: black;
  background-color: lightblue;
}

.service-list {
  list-style-type: circle
}

span {
  font-weight: bold;
}

.card{
  max-height: 1000px;
}


.contact-info{
  font-family: 'Times New Roman', Times, serif;
}



